<launch>
  <arg name="takeoff_height" default="1.0"/>
  <arg name="max_speed" default="1.0"/>

  <node pkg="planner_ctrl" name="ctrl_super_waypoints" type="ctrl_super_waypoints" output="screen">
    <param name="takeoff_height" value="$(arg takeoff_height)" type="double"/>
    <param name="max_speed" value="$(arg max_speed)" type="double"/>
  </node>
</launch>
